<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/css/uikit.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="/css/style.css">
    <link rel = "stylesheet" href = "/css/modal.css">
    <title>{{title}}</title>
</head>
<body>
<header class="topnav" id="header">
    <header id="title">
        <h1  class="topnav webpage-title">FoodLess
        </h1>
        <p id="tagline">"Saving the world one kitchen at a time!"</p>
        <div class="menu-container">
         <a href="#offcanvas-slide" id="hamburger-icon" class="uk-button uk-button-default" uk-toggle><img class="hamburger-icon" src="/images/hamburger-menu.png"></a>
           <!-- below is the slider that comes from the hamburger icon above -->
           <div id="offcanvas-slide" uk-offcanvas>
               <div class="uk-offcanvas-bar">
                   <ul class="uk-nav uk-nav-default" id="nav-list">
                       <li class="uk-nav-header">MENU</li>
                       <li class="uk-nav-divider"></li>

                       <li  class="side-bar"><a href "#" Homepage </a></li>

                       <li  class="side-bar"><a id="cookbook" href= "/api/u/communityCookbook">Community Cookbook</a></li>

                       <li  class="side-bar"><a href="/api/u/submitRecipe">Submit a Recipe</a></li>

                       <li  class="side-bar"><a href= "/api/u/aboutUs" >About Us</a></li>

                       <li  class="side-bar"><a href= "/api/u/donations">Donation Page</a></li>

                       <li class="side-bar"><a id="log"
                       href= "/api/users/signup">Create User Profile</a></li>

                       <li class="side-bar"><a 
                       href= "/api/users/loginpage">Login</a></li>

                       <a class="uk-button uk-button-default saved-recipes-btn " href="#modal-overflow" uk-toggle>Saved Recipes</a>


                   <!-- below is the modal that comes from the slider menu, that shows saved recipes (the a-tag directly above contains the button)-->
                   <div id="modal-overflow" uk-modal>
                       <div class="uk-modal-dialog">
                           <button class="uk-modal-close-default" type="button" uk-close></button>
                           <div class="uk-modal-header">
                               <h2 class="uk-modal-title">Saved Recipes</h2>
                           </div>
                           <div class="uk-modal-body" uk-overflow-auto>
                               <!-- here is where the saved recipes will actually go, in place of this paragraph -->
                               <p id = "gotRecipes">You have no saved recipes! :( </p>
                           </div>
                           <div class="uk-modal-footer uk-text-right">
                               <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                           </div>

                       </div>
                       </div>
                   </ul>
               </div>
           </div>
        </div>
       </header>
</header>

{{{ body }}}

<div id = "modalBox" class = "modal">
    <div id = "modal-content"></div>
</div>
<div id="footer-container">
<a id="footer" href="#header"><p>Back to Top ^</p></a>
</div>
<br>
<footer>
<p>Copy Right The New and improved Group 7</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.9.1/dist/js/uikit-icons.min.js"></script>
</body>
</html>
