<section class="about-hero-image">
<h3 id="about-us-title" >
    About Us
</h3>
<p id="about-us-info" class="about-hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat, quam et luctus ultrices, massa nisl sagittis dolor, et auctor neque orci et ligula. Nulla sagittis placerat ante, quis porta tortor mollis sit amet. Praesent facilisis, mi sed aliquam mattis, nisi lacus rutrum diam, eget auctor ligula ipsum nec lectus. Nunc rhoncus libero non justo cursus dictum. Nullam facilisis felis ac mi finibus, sit amet facilisis elit euismod. Vivamus fringilla justo id libero viverra, nec ultrices elit semper. Nulla efficitur turpis eu nunc porttitor rhoncus. Vestibulum volutpat, ligula quis mollis hendrerit, eros ante imperdiet massa, at tempor eros dui vel tellus. 
</p>
   </section> 
  