<section id="community-cookbook-hero">
    <div>
        <form id="form">
           <div id="form-div">
               <label>Search:</label>
               <br>
               <br>
               <div id="input-ingredients">
                <input type="text" placeholder="Ingredients" id="food">
                <ul id="fridge"> 
                </ul> 
               </div>
           </div>
       </form>
       <section id="community-cookbook-contribution">
    <div>
        <form id="add-to-cookbook">
           <div id="cookbook-div">
               <label>Add Recipe to Community Cookbook here:</label>
               <br>
               <div>
                <input id="ccTitle" type="text" placeholder="Recipe Title"></div>

                <div >
                <input id="ccDescription" type="text" placeholder="Recipe Description"></div>

                <div >
                <input id="ccIngredients" type="text" placeholder="Ingredients"></div>

                <div>
                <input id="ccInstructions" type="text" placeholder="Instructions"></div>

                <li><input id="ccSubmit" type="button" name="Create Recipe" value="Create Recipe"></li>
 
                
               </div>
           </div>
       </form>
    </div>
   </section> 

   <div id="card-container">
   {{{recipe-cards}}}
   </div>

<script src="/js/communityCookbook.js"></script>