<section id="community-cookbook-hero">
    <div>
        <form id="form">
           <div id="form-div">
               <label>Search:</label>
               <br>
               <br>
               <div id="input-ingredients">
                <input type="text" placeholder="Ingredients" id="food">
                <ul id="fridge"> 
                </ul> 
               </div>
           </div>
       </form>
    </div>
   <div id="card-container">
   {{{recipe-cards}}}
   </div>

<script src="/js/communityCookbook.js"></script>