<div id="donation-page">
<h3 id="Donate-header">Want to help out? Donate!</h3>
<p>Here's a list of foodbanks and charities local to Washington State that you can donate to or volunteer at:</p>
<ul>
    <li><a href="https://www.communityactionskagit.org/skagit-food-distribution-center/">Skagit Food Distribution Center</a></li>
    <li><a href="https://www.foodpantries.org/li/volunteers-of-america-greenwood-food-bank">America Greenwood Food Bank</a></li>
    <li><a href="https://www.marysplaceseattle.org/support-us/donation-drop-off ">Mary's Place Donation Center (sodo)</a></li>
    <li><a href="https://www.udistrictfoodbank.org/">University District Food Bank</a></li>
    <li><a href="https://prlc.org/phinney-ridge-lutheran-church-food-bank ">Phinney Ridge Lutheran Church Food Bank</a></li>
    <li><a href="http://www.rvfb.org/ ">Rainier Valley Food Bank</a></li>
    <li><a href="https://www.ballardfoodbank.org/  ">Ballard Food Bank </a></li>
    <li><a href="https://www.northwestharvest.org/our-work/community-programs/sodo-community-   
        market/">Northwest Harvest</a></li>
    <li><a href=""></a></li>
</ul>
</div>