
     <!-- Created a div which consists of ul, li, Inputs, class and ID elements-->
    <div class="form-container">
        <ul class="list">
            <li><strong>Email:</strong></li>
            <li><input type="text" name="User Email" placeholder="User Email"> </li>
            <li><strong>Password:</strong></li>
            <li><input type="text" name="User Password" placeholder="..............."></li>
            <li><input  id="login" type="button" name="Log in"value="Log in"></li>
            <li id="account">Do you have an account? <input id="signup" type="button" name="Sign up" value="Sign up"></li>
        </ul>
    </div>

    