
     <!-- Created a div which consists of ul, li, Inputs, class and ID elements-->
    <div class="form-container">
        <ul class="list">
            <li><strong>Email:</strong></li>
            <li><input id = "userEmail" type="text" name="User Email" placeholder="User Email"> </li>
            <li><strong>Password:</strong></li>
            <li><input id = "userPassword" type="text" name="User Password" placeholder="..............."></li>
            <li><strong>Confirm Password:</strong></li>
            <li><input  id = "passwordConfirm" type="text" name="User Password Confirm" placeholder="..............."></li>
            <li><input id="signup" type="button" name="Sign up" value="Sign up!"></li>
            <li id="account">Already have an account? <input id="login" type="button" name="Log in" value="Log in"></li>
        </ul>
    </div>

    <script src="/js/profile.js"></script>