
<div class="form-container">
<h1 id="recipe-submit-header"><u>Recipe Submission Form</u></h1>
<ul class="list">
    <li>Recipe Name</li>
    <li><input type = 'text' id = 'ccTitle'></li>
    <li>A brief discription:</li>
    <li><textarea rows = '2' cols = '25' id ='ccDescription'></textarea></li>
    <li id="ingredients">Recipe Ingredients(include measurements):</li>
    <li><input type="text" id= 'ccIngredients' name="recipeIngredients"></li>
    <li>Recipe Instructions:</li>
    <li><textarea rows = '3'  cols = '25' type="text" id = 'ccInstructions' name="recipeInstructions"></textarea></li>
    <li id ="image">Add an Image:</li>
  <div id="buttons"><li><input id="button1" type="button" name="upLoad" value="Upload"> <input id="button2" type="button" name="addUrl" value="Add URL"> <input id="button3" type="button" name="addEmoji" value="Add Emoji"></li></div>            <li><input id="ccSubmit" type="button" name="submitRecipe" value="Submit Recipe!"></li>
 </ul>
</div>
<script src = '/js/submission.js'></script>