:root{
    --dp-red: #540908;
    --dp-orange: #C2380A;
    --lt-orange: #f38342;
    --lt-green: #376630;
    --dp-green: #0F2910;
    --white: #fff;
    --blk: #000;
    --lt-grey:rgb(214, 214, 214);
    --test: rgb(184, 149, 125);
    --display-font:'Fredericka the Great', cursive;
}

#title{
background-color: var(--lt-orange);
padding-left:1%;
padding-right:1%;
border-width: 5px;
border-style: solid;
border-color:var(--lt-orange);
border-bottom-color: var(--dp-red);
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
}
#tagline{
    font-size:.5em;
    color:var(--white);
    font-style:oblique;
    font-family: 'Brush Script MT', cursive;
    font-size:120%;
    letter-spacing: 150%;
}
#hamburger-icon{
    float:right;
    max-width: 60px;
    transform: translate(-10px, 50px);
    padding:0px;
}

.webpage-title{
    font-family: var( --display-font);
    color: var(--white);
    transform: translate(-70px, 0px);
}
.topnav{
    line-height: 1.5em;
    font-size: 2em;
}
body, html {
    height: 100vh;
    display: block;
    background-color: var(--white);
} 
/*----------------------homepage-----------------------*/
.home-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/hero-3.jpeg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text, .about-hero-text {
   text-align: center;
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    border-radius:  5px 25px;
    padding:15px;
  }

  #scroll-container {
    max-width:75%;
    margin: 0px;
    padding-left:20%;
    padding-right:20%;
    padding-top:2%;
}
footer{
    color:var(--lt-grey);
    text-align: center;
    padding:2%;
}

#form-div{
    text-align: center;
    background-color: var(--dp-red);
    border-radius: 25px;
    margin-left: 32%;
    margin-right:32%;
    padding-top: 5%;
    padding:2%;
    transform: translate( 0px, 100px);
    color: var(--white);
}
#fridge{
    list-style-type: none;
    margin:0px !important;
    padding:0px !important;
}
#close{
    float:right;
    transform: translate( 0px, -20px);
}
#btnControl{
    font-family: var( --display-font);
}
/*-----------About us page-----------------------------*/
.about-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.603)), url("../images/hero-3.jpeg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
#about-us-info{
     color: var(--white);
  }
#about-us-title{
    color: var(--white); 
    text-align: center;    
    padding-top: 2%;
    font-family: var( --display-font);
    font-size: 3.5em;
  }

  /*--------------------donate page--------------------*/
#donation-page{
      text-align: center;
      padding:5%;
  }
#Donate-header{
    font-family: var( --display-font);
    font-size: 2.5em;
}
#donate-list, .donate-list{
    list-style-type: none;
    color:var(--lt-orange)
  }
  .description{
      background-color: rgb(83, 44, 44);
      color: var(--white);
      padding:2%;
      border-radius:25px;
      margin-left:15%;
      margin-right:15%;
  }
  /*button next*/
  #donate-description, #hide-description{
      font-family: var(--display-font);
      background-color: var(--white);
      color: var(--dp-red);
      margin-top:5%;
      font-size: 1.1em;
      border-color: var(--lt-orange);
  }
  #donate-description:hover, #hide-description:hover{ 
      color:var(--white);
      background-color: rgb(252, 185, 122);
  }
/*-------------------Recipe Cards---------------------*/
#card-container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top:3%;
    padding-bottom:3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:var(--dp-red)
}
.card{
    background-color: var(--white);
    margin-left:2%;
    margin-right:2%;
    border-radius: 10px;
    border-width:1px;
    border-style:solid;
    text-align: center;
    padding: 2%;
}
.card header{
    background-color: var(--dp-green);
    border-radius: 4px;
    border-width:1px;
    border-style:solid;
    color: var(--white);
    font-family: var( --display-font);
    font-size: 1.5em;
    letter-spacing: .09em;
}
.card img {
    max-width: 250px;
    border-radius: 4px;
    margin:1%;
}
/*-------------- community cookbook page --------------*/

#community-cookbook-hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.203)), url("../images/hero-5.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .cookbook-search{
      background-color: var(--dp-green) !important;
      font-family: var(--display-font);
      font-size: 1.5em;
      letter-spacing: .1em;
      border-style: double;
      border-width: 7px;
      border-color: var(--white);

  }
  /* #community-cookbook-hero{
    background-color:var(--lt-grey);
    height: 50%;
  } */
  /*---------------------GENERAL FORMS--------------------------------*/

 .form-container{
     background-color:var(--lt-grey);
     border-radius: 10px;
     box-shadow: 0 0 10px 0 var(--black);
     margin-left:30%;
     margin-right:30%;
     margin-top:2%;
     padding:2%;
     text-align: center;
 }
 .list{
    padding:2%;
    list-style-type: none;
    color: var(--dp-red);
 }

#login, #signup, #button1, #button2, #button3,#submitrecipe{
    font-family: var(--display-font);
    background-color: var(--white);
    color: var(--blk);
    margin-top:5%;
    font-size: 1.1em;
    border-color: var(--lt-orange);
    border-radius: 10px;
}

#login:hover, #signup:hover,#button1:hover, #button2:hover, #button3:hover,#submitrecipe:hover{ 
    color:var(--white);
    background-color: rgb(252, 185, 122);
}
#recipe-submit-header{
    font-family: var(--display-font);
    color: var(--dp-red);
}
#button1, #button2, #button3{
    background-color: var(--lt-grey);
}

#submitrecipe{
color:var(--white);
background-color: var(--dp-red);
}
/*-----------------------------------------------------*/
#footer{
    text-align: center;
    color: var(--lt-grey);
}
.hide {
    display: none;
}